@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные глобальные стили */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}